In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/train.csv')
semeval_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/semeval.csv')

In [3]:
fincausal_df = pd.read_csv(fincausal_path)
semeval_df = pd.read_csv(semeval_path)

In [6]:
semeval_df = pd.DataFrame({
    'Index': None,
    'Text': semeval_df.sentence,
    'Gold': semeval_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(semeval_df))]
})
semeval_df.head()

,Index,Text,Gold,unique_id
0,None,The system as described above has its greatest...,0,0efae4b5-125b-4ed7-b92b-73a7e34fd353
1,None,The child was carefully wrapped and bound into...,0,df7adf4c-1a26-447e-b5cf-015c2a3b3a05
2,None,The author of a keygen uses a disassembler to ...,0,c5a9cea9-65e6-4bd5-bd76-f074c8ad8d91
3,None,A misty ridge uprises from the surge.,0,25a529a4-54c5-47c8-bdc6-219120da009f
4,None,The student association is the voice of the un...,0,bf7f4fdd-2c7b-474d-b513-396c2a8eaed6

In [7]:
merged_df = pd.concat([fincausal_df, semeval_df])
merged_df.shape

(17619, 4)

In [8]:
merged_df.head()

,Index,Text,Gold,unique_id
0,115,Seeking Alpha ETF Analysis | About: Global...,0,59aabda8-b867-43eb-bb6d-c9ba59fb8025
1,330,Options for clients concerned about how IHT l...,0,90866e7b-1440-4d65-a333-17389c1a3705
2,315,Cackley said that figure indicates loan servi...,0,dbbd03a4-2b62-4f99-bc0b-597a64f2ce60
3,184,A taxpayer has normally been required to file...,0,72440cd6-7729-4337-b476-3d0b29eec078
4,241,I was excited to listen…and thanks to Paula f...,0,ed17a935-0095-4b3b-99f6-9798c32d5b68

In [9]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.898462
1    0.101538
Name: Gold, dtype: float64

In [10]:
merged_df = merged_df.sample(frac=1)

In [11]:
merged_df.head()

,Index,Text,Gold,unique_id
8112,None,The stories are narrated through dance.,0,5cfdc367-e1cb-45e2-bc4b-818ffb3be7d7
6237,None,His friend accidently poured water into the ga...,0,567ffa78-f991-4761-85a7-48087fbdfcd1
9265,None,The water evaporated from the evaporators is c...,0,ed497146-fca3-49f9-85ec-634d12f9f868
9782,None,"With a blow of the whistle, the locomotive dep...",0,938a10e8-e591-41f8-b7e2-1673e8b17db9
775,211,The firm has promised to accept payment only ...,0,31ae2625-5f1b-4665-b290-09207295481c

In [12]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/train_with_semeval_all.csv', index=False)