In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/train.csv')
ade_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/ade.csv')
# causaly_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')
# semeval_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/semeval.csv')

In [3]:
# causaly_df = pd.read_csv(causaly_path)
ade_df = pd.read_csv(ade_path)
fincausal_df = pd.read_csv(fincausal_path)
# semeval_df = pd.read_csv(semeval_path)

In [7]:
df = pd.DataFrame({
    'Index': None,
    'Text': ade_df.sentences,
    'Gold': ade_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(ade_df))]
})
df.head()

,Index,Text,Gold,unique_id
0,None,At 1 year of age cardiovascular and renal func...,0,6d91fd98-8318-4c29-9fa6-043f31970929
1,None,Chlorambucil-induced chromosome damage to huma...,1,cd7917e9-b554-4feb-a34f-b059e814f6ba
2,None,"Gingival hemorrhage, myelodysplastic syndromes...",0,ce94d224-e72b-46d6-a0f6-cd0170b97c6d
3,None,The development of safer and more effective me...,0,325be653-60e1-4e5f-9031-7c18ae763c1f
4,None,Molluscum contagiosum is a common viral skin i...,0,23ce9734-187e-43c8-b417-a6345cef6c3c

In [8]:
ade_df = pd.DataFrame({
    'Index': None,
    'Text': ade_df.sentences,
    'Gold': ade_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(ade_df))]
})
ade_df.head()

,Index,Text,Gold,unique_id
0,None,At 1 year of age cardiovascular and renal func...,0,4eac61c4-a38b-4b4a-b502-20f7a29f2146
1,None,Chlorambucil-induced chromosome damage to huma...,1,1d19e270-2fb9-44cc-a39f-2f92a683dc01
2,None,"Gingival hemorrhage, myelodysplastic syndromes...",0,9f3e10a7-d421-4608-8972-ed09f850cdaf
3,None,The development of safer and more effective me...,0,52130b0b-9270-4a18-a7a9-25b3d69d3b90
4,None,Molluscum contagiosum is a common viral skin i...,0,326fa899-090a-4dc5-a39d-4b4c0c5ab605

In [14]:
semeval_df = pd.DataFrame({
    'Index': None,
    'Text': semeval_df.sentence,
    'Gold': semeval_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(semeval_df))]
})
semeval_df.head()

,Index,Text,Gold,unique_id
0,None,The system as described above has its greatest...,0,fc20b388-0775-42e7-bbf4-de79869dd442
1,None,The child was carefully wrapped and bound into...,0,133753ab-4fe7-45b8-884d-05d5715908d7
2,None,The author of a keygen uses a disassembler to ...,0,1715c840-4439-4c1b-9a59-d8a4efa9b90f
3,None,A misty ridge uprises from the surge.,0,4f64626f-2e64-41fd-90bf-3dcf557efbb0
4,None,The student association is the voice of the un...,0,b9055904-cc61-4f56-a35f-7ee5ecbcff45

In [9]:
merged_df = pd.concat([fincausal_df, ade_df])
merged_df.shape

(27798, 4)

In [10]:
merged_df.head()

,Index,Text,Gold,unique_id
0,115,Seeking Alpha ETF Analysis | About: Global...,0,59aabda8-b867-43eb-bb6d-c9ba59fb8025
1,330,Options for clients concerned about how IHT l...,0,90866e7b-1440-4d65-a333-17389c1a3705
2,315,Cackley said that figure indicates loan servi...,0,dbbd03a4-2b62-4f99-bc0b-597a64f2ce60
3,184,A taxpayer has normally been required to file...,0,72440cd6-7729-4337-b476-3d0b29eec078
4,241,I was excited to listen…and thanks to Paula f...,0,ed17a935-0095-4b3b-99f6-9798c32d5b68

In [11]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.82988
1    0.17012
Name: Gold, dtype: float64

In [12]:
merged_df = merged_df.sample(frac=1)

In [13]:
merged_df.head()

,Index,Text,Gold,unique_id
6726,None,The effect of regional perfusion treatment on ...,0,4075c8b9-c68e-4331-b085-85a59a52853e
2435,None,All evidence suggests this was an idiosyncrati...,0,d61499d5-872b-4e32-ae30-a01ba67c4770
18535,None,Mild adverse cardiac and central nervous syste...,0,31be2269-8a7b-4978-a966-b47d584287a1
12437,None,Reexposure to the drug was reported in three p...,0,1f7f5df6-3bd5-456b-902e-7508017e0d74
11132,None,The patient was successfully treated by single...,0,26da6a7a-4948-41d2-981f-6ebba619b5fd

In [14]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/train_with_ade_all.csv', index=False)