In [2]:
import pandas as pd
from pathlib import Path
import uuid

In [3]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/train.csv')
causaly_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')

In [4]:
causaly_df = pd.read_csv(causaly_all_data_path)
causaly_df.head()

                                            sentence  causal
0  Results indicated that boys with ADHD , relati...       1
1  Ticagrelor appears to provide higher value for...       0
2  Whatever the mechanism , active smoking is an ...       1
3  In this study , we examined whether use of an ...       0
4  Using causal inference testing , we searched c...       0

In [5]:
causaly_df.shape

(2000, 2)

In [6]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Gold,Text,unique_id
0,3135,0,We have the highest child poverty rate of almo...,b51542ef-e583-4551-aa90-9475f60bf65a
1,4340,0,Price is nearly everything - and nearly every ...,f05532da-f6f8-4287-9f11-9a4c7b9ef786
2,1312,0,We do not write articles to promote products. ...,a6f3230a-4908-4715-b7e7-4355414e7347
3,4936,0,They were now theoretically worth north of a $...,c65800bc-5629-4ac9-9e80-5543bf786a51
4,1093,0,The solution Susan explains she wishes to inv...,a7b1153c-d802-4cb6-9e22-1208734ed909

In [8]:
causaly_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_df.sentence,
    'Gold': causaly_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_df))]
})
causaly_df.head()

,Index,Text,Gold,unique_id
0,None,"Results indicated that boys with ADHD , relati...",1,47f8884a-b30a-4a89-b683-68cb5a60ba40
1,None,Ticagrelor appears to provide higher value for...,0,d5d7b2bd-18c2-4a7c-902d-2e7307d4c2b9
2,None,"Whatever the mechanism , active smoking is an ...",1,c1b7c733-7306-49eb-ab94-eb4dee4aa580
3,None,"In this study , we examined whether use of an ...",0,46a93483-2d42-4545-8785-c5439a17ace9
4,None,"Using causal inference testing , we searched c...",0,333dc134-33ff-44de-8fff-f1682aa8e955

In [9]:
merged_df = pd.concat([fincausal_task1_train_df, causaly_df])
merged_df.shape

(6227, 4)

In [10]:
merged_df.head()

,Index,Gold,Text,unique_id
0,3135,0,We have the highest child poverty rate of almo...,b51542ef-e583-4551-aa90-9475f60bf65a
1,4340,0,Price is nearly everything - and nearly every ...,f05532da-f6f8-4287-9f11-9a4c7b9ef786
2,1312,0,We do not write articles to promote products. ...,a6f3230a-4908-4715-b7e7-4355414e7347
3,4936,0,They were now theoretically worth north of a $...,c65800bc-5629-4ac9-9e80-5543bf786a51
4,1093,0,The solution Susan explains she wishes to inv...,a7b1153c-d802-4cb6-9e22-1208734ed909

In [11]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.771318
1    0.228682
Name: Gold, dtype: float64

In [12]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/train_with_causaly_all.csv', index=False)