In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/train_dev_test.csv')
causaly_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')

In [3]:
causaly_df = pd.read_csv(causaly_all_data_path)
causaly_df.head()

                                            sentence  causal
0  Results indicated that boys with ADHD , relati...       1
1  Ticagrelor appears to provide higher value for...       0
2  Whatever the mechanism , active smoking is an ...       1
3  In this study , we examined whether use of an ...       0
4  Using causal inference testing , we searched c...       0

In [4]:
causaly_df.shape

(2000, 2)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,334.00005,About Automotive Finco Corp. Automotive Finco ...,0,f6f9b2cd-c18a-41ae-afdf-1a38276e7c76
1,130.00008,Titan has acquired all of Core Gold's secured ...,1,5c168ebc-1302-44e1-97cb-21a59d505f58
2,220.00009,Current drill spacing is shown three dimension...,0,2413d551-6a1e-417c-a4f1-8691370ba2cf
3,426.00012,The company's products and services include Pa...,0,7ec552d1-48c3-4a30-8172-1e77e141a2d0
4,334.00009,There can be no assurance that such informatio...,0,fbc8ec3f-d91b-40ca-a9b6-c06b37c0c8d2

In [6]:
fincausal_task1_train_df.shape

(22054, 4)

In [7]:
causaly_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_df.sentence,
    'Gold': causaly_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_df))]
})
causaly_df.head()

,Index,Text,Gold,unique_id
0,None,"Results indicated that boys with ADHD , relati...",1,a02b63a3-dab9-49ef-a54e-3448f4fd4707
1,None,Ticagrelor appears to provide higher value for...,0,a9a8b7e2-dee4-4985-a192-1262c7f88d5e
2,None,"Whatever the mechanism , active smoking is an ...",1,60494e82-334a-4908-85a4-bf618f081d17
3,None,"In this study , we examined whether use of an ...",0,6e2909b2-4305-4496-a26f-558dc5c5f2c9
4,None,"Using causal inference testing , we searched c...",0,3defa853-142e-4646-94fc-def51a380d77

In [8]:
merged_df = pd.concat([fincausal_task1_train_df, causaly_df])
merged_df.shape

(24054, 4)

In [9]:
merged_df.head()

,Index,Text,Gold,unique_id
0,334,About Automotive Finco Corp. Automotive Finco ...,0,f6f9b2cd-c18a-41ae-afdf-1a38276e7c76
1,130,Titan has acquired all of Core Gold's secured ...,1,5c168ebc-1302-44e1-97cb-21a59d505f58
2,220,Current drill spacing is shown three dimension...,0,2413d551-6a1e-417c-a4f1-8691370ba2cf
3,426,The company's products and services include Pa...,0,7ec552d1-48c3-4a30-8172-1e77e141a2d0
4,334,There can be no assurance that such informatio...,0,fbc8ec3f-d91b-40ca-a9b6-c06b37c0c8d2

In [10]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.888085
1    0.111915
Name: Gold, dtype: float64

In [11]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/train_dev_test_causaly.csv', index=False)