In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_practice_test_on_trial_v2/train.csv')
causaly_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')

In [3]:
causaly_df = pd.read_csv(causaly_all_data_path)
causaly_df.head()

                                            sentence  causal
0  Results indicated that boys with ADHD , relati...       1
1  Ticagrelor appears to provide higher value for...       0
2  Whatever the mechanism , active smoking is an ...       1
3  In this study , we examined whether use of an ...       0
4  Using causal inference testing , we searched c...       0

In [4]:
causaly_df.shape

(2000, 2)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,36.00012,And our advertising partners will have access ...,0,a89a1473-05ae-4e3c-87df-a41e229071db
1,468.00008,"In most cases, we cannot really predict the pr...",0,a5ba5769-595f-4d9d-9c38-21c07281e75d
2,151.00003,"On the competitive side is, Valeritas Holdings...",0,f766ab9b-1332-4c06-9433-0992029d49e7
3,441.00006,"The firm has a market cap of $455.18 million, ...",0,33d9704b-a90d-4917-b2e9-3c7021fedd4e
4,132.00119,COMTEX_352784348/2606/2019-09-20T12:40:35,0,09119334-3265-4917-bf91-054d1c20f28c

In [6]:
fincausal_task1_train_df.shape

(10780, 4)

In [7]:
causaly_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_df.sentence,
    'Gold': causaly_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_df))]
})
causaly_df.head()

,Index,Text,Gold,unique_id
0,None,"Results indicated that boys with ADHD , relati...",1,96a19e6d-103c-4fc0-a887-37c05824e050
1,None,Ticagrelor appears to provide higher value for...,0,6e7afe7f-36a7-4777-89ef-e687e93c6b1d
2,None,"Whatever the mechanism , active smoking is an ...",1,ff4248cd-6076-4788-905b-89e44a6063dc
3,None,"In this study , we examined whether use of an ...",0,e7f812eb-ec68-4451-98ed-14b4810cc9bb
4,None,"Using causal inference testing , we searched c...",0,0fc4c43d-15e1-44d9-9a35-8840aaa44b7b

In [8]:
merged_df = pd.concat([fincausal_task1_train_df, causaly_df])
merged_df.shape

(12780, 4)

In [9]:
merged_df.head()

,Index,Text,Gold,unique_id
0,36.0001,And our advertising partners will have access ...,0,a89a1473-05ae-4e3c-87df-a41e229071db
1,468,"In most cases, we cannot really predict the pr...",0,a5ba5769-595f-4d9d-9c38-21c07281e75d
2,151,"On the competitive side is, Valeritas Holdings...",0,f766ab9b-1332-4c06-9433-0992029d49e7
3,441,"The firm has a market cap of $455.18 million, ...",0,33d9704b-a90d-4917-b2e9-3c7021fedd4e
4,132.001,COMTEX_352784348/2606/2019-09-20T12:40:35,0,09119334-3265-4917-bf91-054d1c20f28c

In [10]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.849687
1    0.150313
Name: Gold, dtype: float64

In [11]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_practice_test_on_trial_v2/train_with_causaly_all.csv', index=False)