In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
v1 = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/test.csv', sep='; ')
v2 = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_test_on_practice_v2/test.csv', sep='; ')

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
v1.shape, v2.shape

((13547, 1), (13475, 1))

In [4]:
v1.head()

                           Index,Text,Gold,unique_id
0  1.00001, Florida raking in billions as America...
1  1.0000200000000001," Recently, changes to the ...
2  1.00003," MORE FROM FOXBUSINESS.COM... As it t...
3  1.00004," According to a new study from Lendin...
4  1.00005, The Sunshine State drew in a net infl...