In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import uuid
import os

In [2]:
fincausal_task1_eval_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/v2/eval.csv')

In [4]:
fincausal_task1_eval = pd.read_csv(fincausal_task1_eval_path, sep='; ')

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [5]:
fincausal_task1_eval.head()

     Index                                               Text
0  1.00001    Earn $25 per hour as an independent contractor!
1  1.00002  Write and update curriculum for The Income Tax...
2  1.00003  Function:  Write, update and enhance ITS curri...
3  2.00001  September 13, 2019 Congress Speaker's Office D...
4  2.00002  While the Speaker's office disclaimed the leak...

In [6]:
print(fincausal_task1_eval.shape)

(7386, 2)

There were whitexpaces in column name when using sep=';', which is now removed. We must save them with whitespaces removed to avoid coding the logic in package code

In [7]:
# NAs eval
fincausal_task1_eval.isna().sum()

Index    0
Text     0
dtype: int64

There are some NAs in the dataset

In [8]:
# empty sentences eval?
empty_sections = fincausal_task1_eval.loc[(fincausal_task1_eval.Text == " ") | (fincausal_task1_eval.Text == "")]
print('how many? {}'.format(len(empty_sections)))

how many? 0

There is 1 empty text in trial data and 3 in practice data. All of them have 0 labels. We keep them becaue they are probable instances during the inference time. However, we remove them from training the model as they can disturb the training process, instead just return 0 when they arrive during inference time

UPDATE: There are no empty text sections

In [9]:
fincausal_task1_eval['unique_id'] = [str(uuid.uuid4()) for _ in range(len(fincausal_task1_eval))]

In [11]:
fincausal_task1_eval.shape

(7386, 3)

In [12]:
fincausal_task1_eval.head()

,Index,Text,unique_id
0,1.00001,Earn $25 per hour as an independent contractor!,82e9b20d-a78e-4fe0-b621-c0601113be66
1,1.00002,Write and update curriculum for The Income Tax...,30ac6e7b-1ed4-4be6-8fb7-84aeb3203f6c
2,1.00003,"Function: Write, update and enhance ITS curri...",77abe20b-2b61-4905-bf93-a2a86809df6c
3,2.00001,"September 13, 2019 Congress Speaker's Office D...",89866e6a-8397-4926-8e01-a9b286b2cf83
4,2.00002,While the Speaker's office disclaimed the leak...,64b52667-aaa9-4b01-b434-97316bd5e877

In [13]:
fincausal_task1_eval.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/eval.csv', index=False)