In [1]:
import pandas as pd
import os
from pathlib import Path

In [2]:
original_eval_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/v2/eval.csv')
eval_with_id_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/eval.csv')

In [3]:
model_pred_1_path = Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/138_1/output/best_model/inference_eval/predictions.csv')

In [4]:
original_eval = pd.read_csv(original_eval_path, sep='; ')
eval_with_id = pd.read_csv(eval_with_id_path)

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [5]:
original_eval.head()

     Index                                               Text
0  1.00001    Earn $25 per hour as an independent contractor!
1  1.00002  Write and update curriculum for The Income Tax...
2  1.00003  Function:  Write, update and enhance ITS curri...
3  2.00001  September 13, 2019 Congress Speaker's Office D...
4  2.00002  While the Speaker's office disclaimed the leak...

In [6]:
eval_with_id.head()

,Index,Text,unique_id
0,1.00001,Earn $25 per hour as an independent contractor!,82e9b20d-a78e-4fe0-b621-c0601113be66
1,1.00002,Write and update curriculum for The Income Tax...,30ac6e7b-1ed4-4be6-8fb7-84aeb3203f6c
2,1.00003,"Function: Write, update and enhance ITS curri...",77abe20b-2b61-4905-bf93-a2a86809df6c
3,2.00001,"September 13, 2019 Congress Speaker's Office D...",89866e6a-8397-4926-8e01-a9b286b2cf83
4,2.00002,While the Speaker's office disclaimed the leak...,64b52667-aaa9-4b01-b434-97316bd5e877

In [7]:
original_eval.shape, eval_with_id.shape

((7386, 2), (7386, 3))

In [8]:
model_pred_1 = pd.read_csv(model_pred_1_path)
model_pred_1.head()

,Index,Text,Gold,Prediction,unique_id,softmax
0,1.00001,Earn $25 per hour as an independent contractor!,NaN,0,82e9b20d-a78e-4fe0-b621-c0601113be66,0.999608
1,1.00002,Write and update curriculum for The Income Tax...,NaN,0,30ac6e7b-1ed4-4be6-8fb7-84aeb3203f6c,0.999972
2,1.00003,"Function: Write, update and enhance ITS curri...",NaN,0,77abe20b-2b61-4905-bf93-a2a86809df6c,0.999974
3,2.00001,"September 13, 2019 Congress Speaker's Office D...",NaN,0,89866e6a-8397-4926-8e01-a9b286b2cf83,0.999969
4,2.00002,While the Speaker's office disclaimed the leak...,NaN,0,64b52667-aaa9-4b01-b434-97316bd5e877,0.999962

In [9]:
model_pred_1.shape

(7386, 6)

In [10]:
original_eval['Prediction'] = model_pred_1['Prediction']

In [11]:
original_eval.head()

     Index                                               Text  Prediction
0  1.00001    Earn $25 per hour as an independent contractor!           0
1  1.00002  Write and update curriculum for The Income Tax...           0
2  1.00003  Function:  Write, update and enhance ITS curri...           0
3  2.00001  September 13, 2019 Congress Speaker's Office D...           0
4  2.00002  While the Speaker's office disclaimed the leak...           0

In [12]:
output_path = Path('/media/sarthak/HDD/data_science/fnp_resources/submissions/138_1')
output_path.mkdir(parents=True)
original_eval.to_csv(output_path / 'task1.csv', index=False, sep=';')