In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from collections import Counter

# Data

In [8]:
semeval = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/extra/semeval.csv')
ade = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/extra/ade.csv')
causaly = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')
task_eval = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/v2/eval.csv', sep='; ')
task_prac = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/v2/practice.csv', sep='; ')
task_trial = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/v2/trial.csv', sep='; ')

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [9]:
Counter(semeval.causal), Counter(ade.causal),  Counter(causaly.causal)

(Counter({0: 9386, 1: 1331}),
 Counter({0: 16625, 1: 4271}),
 Counter({1: 1113, 0: 887}))

In [10]:
task = pd.concat([task_prac, task_trial])
task

          Index                                               Text  Gold
0       1.00001  Florida raking in billions as Americans abando...     0
1       1.00002  Recently, changes to the U.S. tax code have en...     0
2       1.00003  MORE FROM FOXBUSINESS.COM... As it turns out, ...     0
3       1.00004  According to a new study from LendingTree, whi...     0
4       1.00005  The Sunshine State drew in a net influx of abo...     1
...         ...                                                ...   ...
8575  370.00021                                    That's correct.     0
8576  370.00022  Fining a company - which in effect just fines ...     0
8577  370.00023                         It was securing the bribe.     0
8578  370.00024  Disrupting Democracy: When Big Tech Takes Over...     0
8579  370.00025  Google Is Like Facebook - but a Lot Smarter  M...     0

[22058 rows x 3 columns]

In [11]:
Counter(task.Gold)

Counter({0: 20479, 1: 1579})

In [24]:
task.loc[task.Gold==1]['Text'].iloc[456]

'When John places $100 in a safe deposit box with Bank One he does not relinquish his claim over the $100.'

In [45]:
semeval

,sentence,relation,causal
0,The system as described above has its greatest...,Component-Whole,0
1,The child was carefully wrapped and bound into...,Other,0
2,The author of a keygen uses a disassembler to ...,Instrument-Agency,0
3,A misty ridge uprises from the surge.,Other,0
4,The student association is the voice of the un...,Member-Collection,0
...,...,...,...
10712,"After seating all the idols, which itself take...",Instrument-Agency,0
10713,The minister attributed the slow production of...,Product-Producer,0
10714,The umbrella frame is provided with a movable ...,Component-Whole,0
10715,Manos: The Hands of Fate is a low-budget horro...,Product-Producer,0
10716,"A few days before the service, Tom Burris had ...",Entity-Destination,0

In [54]:
semeval.loc[semeval.causal==1]['sentence'].iloc[1]

'The burst has been caused by water hammer pressure.'

In [56]:
ade

                                               sentences  causal
0      At 1 year of age cardiovascular and renal func...       0
1      Chlorambucil-induced chromosome damage to huma...       1
2      Gingival hemorrhage, myelodysplastic syndromes...       0
3      The development of safer and more effective me...       0
4      Molluscum contagiosum is a common viral skin i...       0
...                                                  ...     ...
20891  Brain hemorrhage is a feared complication of e...       0
20892  Though the voluntary recall was in effect, the...       0
20893  Dramatic clinical improvement occurred in 2 pa...       0
20894  This case illustrates an unusual adverse effec...       0
20895  Biopsies from skin of normal appearance from 1...       0

[20896 rows x 2 columns]

In [70]:
ade.loc[ade.causal==1]['sentences'].iloc[111]

'Pirmenol hydrochloride-induced QT prolongation and T wave inversion on electrocardiogram during treatment for symptomatic atrial fibrillation.'

In [71]:
causaly

                                               sentence  causal
0     Results indicated that boys with ADHD , relati...       1
1     Ticagrelor appears to provide higher value for...       0
2     Whatever the mechanism , active smoking is an ...       1
3     In this study , we examined whether use of an ...       0
4     Using causal inference testing , we searched c...       0
...                                                 ...     ...
1995  The obstacle of getting older men to undergo c...       1
1996  It could also clearly detect differences in SD...       0
1997  These results in part explain the impairment o...       0
1998  Modern research makes frequent use of animal m...       0
1999  Vaccination rates for influenza , pneumococcus...       0

[2000 rows x 2 columns]

In [92]:
causaly.loc[causaly.causal==1]['sentence'].iloc[-1]

"The obstacle of getting older men to undergo circumcision may also be associated with working schedules that may disclose one 's circumcision status ."

# BBU

In [4]:
from sklearn import metrics

In [5]:
test = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/test.csv')
bbu = pd.read_csv('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/124_1/test_preds.csv')
bbu.head()

,index,text,gold,unique_id,preds
0,352.00039,One bit of advice Orton had for young finance ...,0,f56182ea-5095-4934-889c-f18c1a26134c,0
1,8.00001,President Muhammadu Buhari has disclosed that ...,1,06cc12f1-1df2-43ef-898a-85ebb29bdede,0
2,53.00010,Advent of compressed exhaust systems based on ...,0,a2705c77-271b-4870-b948-8b688657f39c,0
3,533.00022,Catholic leaders have also suggested the UK go...,0,7966c427-9695-4e2f-a098-a5d385d6e0c4,0
4,316.00040,(NasdaqGS:CME) is 66. A company with a value o...,0,14e3e218-9f6b-4949-96c7-62ca68598d55,0

In [6]:
test.head()

,Index,Text,Gold,unique_id
0,352.00039,One bit of advice Orton had for young finance ...,0,f56182ea-5095-4934-889c-f18c1a26134c
1,8.00001,President Muhammadu Buhari has disclosed that ...,1,06cc12f1-1df2-43ef-898a-85ebb29bdede
2,53.00010,Advent of compressed exhaust systems based on ...,0,a2705c77-271b-4870-b948-8b688657f39c
3,533.00022,Catholic leaders have also suggested the UK go...,0,7966c427-9695-4e2f-a098-a5d385d6e0c4
4,316.00040,(NasdaqGS:CME) is 66. A company with a value o...,0,14e3e218-9f6b-4949-96c7-62ca68598d55

In [7]:
metrics.precision_recall_fscore_support(bbu['gold'],bbu['preds'],beta=1.0,average='weighted')

(0.9595894423782227, 0.9605621033544878, 0.9600272562096548, None)