In [9]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler
import numpy as np

In [2]:
test_df = pd.DataFrame({
    'text': ['I m good', 'hey', 'how are you'],
    'label': [0, 0, 1]
})
test_df.head()

          text  label
0     I m good      0
1          hey      0
2  how are you      1

In [13]:
ros = RandomOverSampler(random_state=42)

In [25]:
    x, y = ros.fit_resample(test_df['text'].values[..., np.newaxis], test_df['label'])

In [29]:
x.flatten().shape

(4,)

In [30]:
test_df = pd.DataFrame({
    'text': x.flatten(),
    'label': y
})
test_df.head()

          text  label
0     I m good      0
1          hey      0
2  how are you      1
3  how are you      1

In [3]:
import pandas as pd
from pathlib import Path

In [8]:
prac = pd.read_csv(Path('/media/sarthak/HDD/data_science/fnp_resources/fincasual-2020-master/data/practice/task1.csv'), sep='; ' )
train = pd.read_csv(Path('/media/sarthak/HDD/data_science/fnp_resources/fincasual-2020-master/data/train.csv'))

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [9]:
train.head()

       index                                               text  gold
0  294.00028   If it makes sense for the answer to be shared...     0
1  262.00009          This tends to reduce your future returns.     0
2  147.00013   This is taxable to the extent that exceeds £4...     0
3  380.00021   The LGIM segment provides index fund manageme...     0
4  218.00209   experimenting with a new form of content woul...     0

In [10]:
prac.head()

     Index                                               Text  Gold
0  1.00001  Florida raking in billions as Americans abando...     0
1  1.00002  Recently, changes to the U.S. tax code have en...     0
2  1.00003  MORE FROM FOXBUSINESS.COM... As it turns out, ...     0
3  1.00004  According to a new study from LendingTree, whi...     0
4  1.00005  The Sunshine State drew in a net influx of abo...     1

In [11]:
train.shape

(18749, 3)

In [12]:
prac.shape

(13478, 3)

In [15]:
pd.merge(train, prac, left_on='index', right_on='Index')

,index,text,gold,Index,Text,Gold
0,262.00009,This tends to reduce your future returns.,0,262.00009,"Among a certain crowd - mostly online, and mos...",0
1,147.00013,This is taxable to the extent that exceeds £4...,0,147.00013,This is taxable to the extent that exceeds £40...,0
2,380.00021,The LGIM segment provides index fund manageme...,0,380.00021,The LGIM segment provides index fund managemen...,0
3,40.00009,"In addition to our San Diego headquarters, Bi...",0,40.00009,"In addition to our San Diego headquarters, Bio...",0
4,40.00009,Musk's Compensation Package approved sharehol...,0,40.00009,"In addition to our San Diego headquarters, Bio...",0
...,...,...,...,...,...,...
11606,132.00037,Growth potential analysis 3.4.1. By product ...,0,132.00037,Growth potential analysis 3.4.1. By product ...,0
11607,416.00016,"To make matters worse, there is no internatio...",0,416.00016,"To make matters worse, there is no internation...",0
11608,91.00010,The Colorado DOR pegged the number of affecte...,0,91.00010,The Colorado DOR pegged the number of affected...,0
11609,430.00007,The board said Mr Smith was an executive dire...,0,430.00007,The board said Mr Smith was an executive direc...,0
11610,270.00017,Luminus Management LLC bought a new stake in ...,0,270.00017,Luminus Management LLC bought a new stake in R...,0

In [38]:
# val_preds = pd.read_csv(Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/124_1/val_preds.csv'))
test_preds = pd.read_csv(Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/105_2/test_preds_n.csv'))
eval_preds = pd.read_csv(Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/105_2/eval_preds_n.csv'))

In [39]:
"""
val_preds.rename(columns={
    'index':'Index',
    'text': 'Text',
    'gold': 'Gold',
    'preds':'Prediction'}, inplace=True)"""
test_preds.rename(columns={
    'index':'Index',
    'text': 'Text',
    'gold': 'Gold',
    'preds':'Prediction'}, inplace=True)
eval_preds.rename(columns={
    'index':'Index',
    'text': 'Text',
    'gold': 'Gold',
    'preds':'Prediction'}, inplace=True)

In [31]:
val_preds_path = Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/124_1/output/best_model/inference_dev')
val_preds.to_csv(val_preds_path / 'predictions.csv', index=False)

In [41]:
test_preds_path = Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/105_2/output/best_model/inference')
test_preds_path.mkdir(parents=True)
test_preds.to_csv(test_preds_path / 'predictions.csv', index=False)

In [43]:
eval_preds_path = Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/105_2/output/best_model/inference_eval')
eval_preds_path.mkdir(parents=True)
eval_preds.to_csv(eval_preds_path / 'predictions.csv', index=False)

In [4]:
from sklearn.utils.class_weight import compute_class_weight
import numpy as np

In [6]:
y = [0, 1, 1, 0, 0, 0]

In [7]:
compute_class_weight('balanced', np.unique(y), y)

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/sklearn/utils/validation.py:71: FutureWarning: Pass classes=[0 1], y=[0, 1, 1, 0, 0, 0] as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

array([0.75, 1.5 ])

In [10]:
6/(2*4) (N)/(c*)

0.75