In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
from typing import Any

In [2]:
train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/train_dev_test.csv')
train_df = pd.read_csv(train_path)
print('shape of data: {}'.format(train_df.shape))
train_df.head()

shape of data: (22054, 4)

,Index,Text,Gold,unique_id
0,334.00005,About Automotive Finco Corp. Automotive Finco ...,0,f6f9b2cd-c18a-41ae-afdf-1a38276e7c76
1,130.00008,Titan has acquired all of Core Gold's secured ...,1,5c168ebc-1302-44e1-97cb-21a59d505f58
2,220.00009,Current drill spacing is shown three dimension...,0,2413d551-6a1e-417c-a4f1-8691370ba2cf
3,426.00012,The company's products and services include Pa...,0,7ec552d1-48c3-4a30-8172-1e77e141a2d0
4,334.00009,There can be no assurance that such informatio...,0,fbc8ec3f-d91b-40ca-a9b6-c06b37c0c8d2

In [3]:
def binary_under_sampling(df: pd.DataFrame, label_column: str, majority_label: Any, undersampling_frac: float):
    
    assert undersampling_frac <= 1.0 and undersampling_frac >=0
    
    # undersamples the majority class
    majority_df = df.loc[df[label_column] == majority_label]
    minority_df = df.loc[df[label_column] != majority_label]
    size_minority = minority_df.shape[0]
    size_majority = int(undersampling_frac * size_minority)
    majority_df = majority_df.sample(n=size_majority)
    return pd.concat([minority_df, majority_df]).sample(frac=1.0)

In [4]:
sampled_df = binary_under_sampling(df=train_df, label_column='Gold', majority_label=0, undersampling_frac=1.0)
print('shape of data: {}'.format(sampled_df.shape))
print('label distribution: {}'.format(sampled_df.Gold.value_counts()))
sampled_df.head()

shape of data: (3158, 4)
label distribution: 1    1579
0    1579
Name: Gold, dtype: int64

,Index,Text,Gold,unique_id
4802,277.00007,In contrast to common financial institution CD...,0,9a51a4b6-f79b-4538-87da-9c9909326031
17268,214.00013,Weakened by decades of mismanagement and an ex...,1,f66b9c3e-4874-489b-9c0a-009d9bf66add
14824,476.00002,We will contrast the two companies based on th...,0,69a1bd34-f6ba-403b-bc13-8c515170ff95
7095,325.00005,Select your country Continue Create a free Res...,1,01f7475b-dadf-4868-979b-8db92c379750
3302,5.00007,"Finally, First PREMIER Bank increased its hold...",1,aa74d18e-01cc-48d3-bddb-592164680d42

In [5]:
sampled_df.to_csv(Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/all_combined/train_dev_test_5050.csv'), index=False)