In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [5]:
fincausal_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/train.csv')
ade_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/ade.csv')
causaly_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')
semeval_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/semeval.csv')

In [11]:
causaly_df = pd.read_csv(causaly_path)
ade_df = pd.read_csv(ade_path)
fincausal_df = pd.read_csv(fincausal_path)
semeval_df = pd.read_csv(semeval_path)

In [12]:
causaly_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_df.sentence,
    'Gold': causaly_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_df))]
})
causaly_df.head()

,Index,Text,Gold,unique_id
0,None,"Results indicated that boys with ADHD , relati...",1,65026847-9627-4ac0-8e0d-3dbb5e0f54fe
1,None,Ticagrelor appears to provide higher value for...,0,68c8d30f-400c-4418-9cfb-b05a7ee6866c
2,None,"Whatever the mechanism , active smoking is an ...",1,21e8eb43-717c-4c75-9af1-97ce57ba0455
3,None,"In this study , we examined whether use of an ...",0,49928c5b-f63b-41cf-ab07-0b7b4b838f9b
4,None,"Using causal inference testing , we searched c...",0,c2c9916a-3bb4-442b-8ae6-35269dff3bad

In [13]:
ade_df = pd.DataFrame({
    'Index': None,
    'Text': ade_df.sentences,
    'Gold': ade_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(ade_df))]
})
ade_df.head()

,Index,Text,Gold,unique_id
0,None,At 1 year of age cardiovascular and renal func...,0,66cb0b48-34c8-444b-b5a2-cff680801152
1,None,Chlorambucil-induced chromosome damage to huma...,1,8970e753-bd8c-4813-bf2b-1324ca9037ca
2,None,"Gingival hemorrhage, myelodysplastic syndromes...",0,addc7790-68a9-4058-a073-ee26b55256f9
3,None,The development of safer and more effective me...,0,10bb2b75-1a15-460b-8592-409fbf77af99
4,None,Molluscum contagiosum is a common viral skin i...,0,7df78f9a-073d-4f83-9216-ed8f36fa7499

In [14]:
semeval_df = pd.DataFrame({
    'Index': None,
    'Text': semeval_df.sentence,
    'Gold': semeval_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(semeval_df))]
})
semeval_df.head()

,Index,Text,Gold,unique_id
0,None,The system as described above has its greatest...,0,fc20b388-0775-42e7-bbf4-de79869dd442
1,None,The child was carefully wrapped and bound into...,0,133753ab-4fe7-45b8-884d-05d5715908d7
2,None,The author of a keygen uses a disassembler to ...,0,1715c840-4439-4c1b-9a59-d8a4efa9b90f
3,None,A misty ridge uprises from the surge.,0,4f64626f-2e64-41fd-90bf-3dcf557efbb0
4,None,The student association is the voice of the un...,0,b9055904-cc61-4f56-a35f-7ee5ecbcff45

In [21]:
merged_df = pd.concat([fincausal_df, causaly_df, ade_df, semeval_df])
merged_df.shape

(40515, 4)

In [22]:
merged_df.head()

,Index,Text,Gold,unique_id
0,115,Seeking Alpha ETF Analysis | About: Global...,0,59aabda8-b867-43eb-bb6d-c9ba59fb8025
1,330,Options for clients concerned about how IHT l...,0,90866e7b-1440-4d65-a333-17389c1a3705
2,315,Cackley said that figure indicates loan servi...,0,dbbd03a4-2b62-4f99-bc0b-597a64f2ce60
3,184,A taxpayer has normally been required to file...,0,72440cd6-7729-4337-b476-3d0b29eec078
4,241,I was excited to listen…and thanks to Paula f...,0,ed17a935-0095-4b3b-99f6-9798c32d5b68

In [23]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.822954
1    0.177046
Name: Gold, dtype: float64

In [24]:
merged_df = merged_df.sample(frac=1)

In [25]:
merged_df.head()

,Index,Text,Gold,unique_id
10985,None,"In one patient, interferon induced hypothyroid...",0,1510ee39-111d-4fc6-b625-5a006fbae54a
15459,None,"In the absence of palpable cysticerci, the cli...",0,8f1836cd-251d-49b1-a7ab-229b5492eda0
6093,112,(39%) and another minority shareholder. About...,0,8729b5c2-0a20-4df3-8489-dd3e38e7e651
11408,None,Improvements in quality of life following trea...,0,bce4a09d-16d9-4332-975b-8d87db8673b5
637,None,Occlusion of the right brachial and right femo...,0,7bbc8d9a-f1ea-49c4-b219-0aa111b64692

In [26]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/train_with_semeval_causal_ade_imbalanced.csv', index=False)