In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/iteration_3/train.csv')
semeval_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/semeval.csv')

In [3]:
semeval_all_data_df = pd.read_csv(semeval_all_data_path)
semeval_all_data_df.head()

,sentence,relation,causal
0,The system as described above has its greatest...,Component-Whole,0
1,The child was carefully wrapped and bound into...,Other,0
2,The author of a keygen uses a disassembler to ...,Instrument-Agency,0
3,A misty ridge uprises from the surge.,Other,0
4,The student association is the voice of the un...,Member-Collection,0

In [4]:
semeval_all_data_df.shape

(10717, 3)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,81.00009,Look at which clients are delivering increasi...,0,849c40bc-8fce-433b-8dc8-6af727480679
1,357.00082,From foundation modules that introduce asset ...,0,694a6824-613c-4978-9e17-a45b77e2b485
2,471.00003,The law firm Kessler Topaz Meltzer & Check LL...,0,661e6bf7-ffbf-4581-acff-8c246ecac51a
3,145.00017,(Source: EnWave Signs First Royalty-Bearing L...,0,be74b33e-8cdd-407b-a408-3ce4c65e32b3
4,48.00012,"The Midwest, where Buffett is from, has a his...",0,a363e188-0393-433b-a86c-94d268eb473c

In [6]:
fincausal_task1_train_df.shape

(15575, 4)

In [7]:
# what's the distribution of label?
causal_distribution = fincausal_task1_train_df.Gold.value_counts() / len(fincausal_task1_train_df)
causal_distribution

0    0.927897
1    0.072103
Name: Gold, dtype: float64

In [8]:
# how many causal can I take from semeval?
semeval_noncausal = semeval_all_data_df.loc[semeval_all_data_df.causal == 0]
semeval_causal = semeval_all_data_df.loc[semeval_all_data_df.causal == 1]

semeval_causal_resampled = semeval_causal.sample(n=int((causal_distribution[1]*100*len(semeval_noncausal))/(100-(causal_distribution[1]*100))))

semeval_resampled = pd.concat([semeval_noncausal, semeval_causal_resampled])
semeval_resampled.causal.value_counts() / len(semeval_resampled)

0    0.927929
1    0.072071
Name: causal, dtype: float64

In [9]:
# combine both the datasets
semval_resampled_formatted_df = pd.DataFrame({
    'Index': None,
    'Text': semeval_resampled.sentence,
    'Gold': semeval_resampled.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(semeval_resampled))]
})
semval_resampled_formatted_df.head()

,Index,Text,Gold,unique_id
0,None,The system as described above has its greatest...,0,35150f41-ce69-4aa3-a4ef-e6c3466b48df
1,None,The child was carefully wrapped and bound into...,0,5efc7556-b40b-46d7-85ab-a69ec4d6a6e6
2,None,The author of a keygen uses a disassembler to ...,0,70bcff2d-8b97-44bf-b332-ed8c11edd724
3,None,A misty ridge uprises from the surge.,0,6cce38d6-d622-4ac1-b0cc-da7cf267ce6d
4,None,The student association is the voice of the un...,0,1a336541-a192-49f7-9b43-1c352231b515

In [10]:
semval_resampled_formatted_df.Gold.value_counts() / len(semval_resampled_formatted_df)

0    0.927929
1    0.072071
Name: Gold, dtype: float64

In [11]:
fincausal_task1_train_combined_semeval = pd.concat([fincausal_task1_train_df, semval_resampled_formatted_df])
fincausal_task1_train_combined_semeval.shape

(25690, 4)

In [12]:
fincausal_task1_train_combined_semeval.Gold.value_counts() / len(fincausal_task1_train_combined_semeval)

0    0.92791
1    0.07209
Name: Gold, dtype: float64

In [13]:
fincausal_task1_train_combined_semeval.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/iteration_3/train_with_semeval.csv', index=False)