In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_trial_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/train.csv')
ade_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/ade.csv')

In [3]:
ade_all_data_df = pd.read_csv(ade_all_data_path)
ade_all_data_df.head()

                                           sentences  causal
0  At 1 year of age cardiovascular and renal func...       0
1  Chlorambucil-induced chromosome damage to huma...       1
2  Gingival hemorrhage, myelodysplastic syndromes...       0
3  The development of safer and more effective me...       0
4  Molluscum contagiosum is a common viral skin i...       0

In [4]:
ade_all_data_df.shape

(20896, 2)

In [5]:
fincausal_trial_df = pd.read_csv(fincausal_trial_path)
fincausal_trial_df.head()

,Index,Gold,Text,unique_id
0,3135,0,We have the highest child poverty rate of almo...,b51542ef-e583-4551-aa90-9475f60bf65a
1,4340,0,Price is nearly everything - and nearly every ...,f05532da-f6f8-4287-9f11-9a4c7b9ef786
2,1312,0,We do not write articles to promote products. ...,a6f3230a-4908-4715-b7e7-4355414e7347
3,4936,0,They were now theoretically worth north of a $...,c65800bc-5629-4ac9-9e80-5543bf786a51
4,1093,0,The solution Susan explains she wishes to inv...,a7b1153c-d802-4cb6-9e22-1208734ed909

In [6]:
fincausal_trial_df.shape

(4227, 4)

In [7]:
# what's the distribution of label?
causal_distribution = fincausal_trial_df.Gold.value_counts() / len(fincausal_trial_df)
causal_distribution

0    0.926425
1    0.073575
Name: Gold, dtype: float64

In [15]:
# how many causal can I take from semeval?
noncausal = ade_all_data_df.loc[ade_all_data_df.causal == 0]
causal = ade_all_data_df.loc[ade_all_data_df.causal == 1]

causal_resampled = causal.sample(n=int((causal_distribution[1]*100*len(semeval_noncausal))/(100-(causal_distribution[1]*100))))

resampled = pd.concat([noncausal, causal_resampled])
resampled.causal.value_counts() / len(resampled)

0    0.926442
1    0.073558
Name: causal, dtype: float64

In [18]:
# combine both the datasets
resampled_formatted_df = pd.DataFrame({
    'Index': None,
    'Text': resampled.sentences,
    'Gold': resampled.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(resampled))]
})
resampled_formatted_df.head()

,Index,Text,Gold,unique_id
0,None,At 1 year of age cardiovascular and renal func...,0,c90cf4cc-095c-4c18-bfe2-a30e19ebd2a3
2,None,"Gingival hemorrhage, myelodysplastic syndromes...",0,2cea2cee-bee0-45b2-8c7f-7da94daa32dd
3,None,The development of safer and more effective me...,0,0c9c989d-bdb8-41f0-809e-e41b89f37887
4,None,Molluscum contagiosum is a common viral skin i...,0,db093a94-8956-4a12-802d-783db56fd298
5,None,Diagnosis requires CT scan and direct aspirati...,0,82fbc375-8fe5-4ea5-9b96-89ff2a5b07e1

In [19]:
resampled_formatted_df.Gold.value_counts() / len(resampled_formatted_df)

0    0.926442
1    0.073558
Name: Gold, dtype: float64

In [20]:
fincausal_task1_trial_combined_ade = pd.concat([fincausal_trial_df, resampled_formatted_df])
fincausal_task1_trial_combined_ade.shape

(22172, 4)

In [21]:
fincausal_task1_trial_combined_ade.Gold.value_counts() / len(fincausal_task1_trial_combined_ade)

0    0.926439
1    0.073561
Name: Gold, dtype: float64

In [22]:
fincausal_task1_trial_combined_ade.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/train_with_ade.csv', index=False)