In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/train.csv')
causaly_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')

In [3]:
causaly_df = pd.read_csv(causaly_all_data_path)
causaly_df.head()

                                            sentence  causal
0  Results indicated that boys with ADHD , relati...       1
1  Ticagrelor appears to provide higher value for...       0
2  Whatever the mechanism , active smoking is an ...       1
3  In this study , we examined whether use of an ...       0
4  Using causal inference testing , we searched c...       0

In [4]:
causaly_df.shape

(2000, 2)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,115.00001,Seeking Alpha ETF Analysis | About: Global...,0,59aabda8-b867-43eb-bb6d-c9ba59fb8025
1,330.00001,Options for clients concerned about how IHT l...,0,90866e7b-1440-4d65-a333-17389c1a3705
2,315.00016,Cackley said that figure indicates loan servi...,0,dbbd03a4-2b62-4f99-bc0b-597a64f2ce60
3,184.00007,A taxpayer has normally been required to file...,0,72440cd6-7729-4337-b476-3d0b29eec078
4,241.00002,I was excited to listen地nd thanks to Paula f...,0,ed17a935-0095-4b3b-99f6-9798c32d5b68

In [6]:
causaly_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_df.sentence,
    'Gold': causaly_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_df))]
})
causaly_df.head()

,Index,Text,Gold,unique_id
0,None,"Results indicated that boys with ADHD , relati...",1,3eeb82eb-4cad-44e0-bf56-3b96bc3a7e3d
1,None,Ticagrelor appears to provide higher value for...,0,8039361e-0f53-4d0d-95d6-360dda5331d2
2,None,"Whatever the mechanism , active smoking is an ...",1,db9ffc00-2adf-45d6-b896-a5398e7a9784
3,None,"In this study , we examined whether use of an ...",0,7029f05f-1338-4885-8f82-4233d214d5b5
4,None,"Using causal inference testing , we searched c...",0,3c309a96-20a8-4861-8b38-4ab2cb319e29

In [7]:
merged_df = pd.concat([fincausal_task1_train_df, causaly_df])
merged_df.shape

(8902, 4)

In [8]:
merged_df.head()

,Index,Text,Gold,unique_id
0,115,Seeking Alpha ETF Analysis | About: Global...,0,59aabda8-b867-43eb-bb6d-c9ba59fb8025
1,330,Options for clients concerned about how IHT l...,0,90866e7b-1440-4d65-a333-17389c1a3705
2,315,Cackley said that figure indicates loan servi...,0,dbbd03a4-2b62-4f99-bc0b-597a64f2ce60
3,184,A taxpayer has normally been required to file...,0,72440cd6-7729-4337-b476-3d0b29eec078
4,241,I was excited to listen地nd thanks to Paula f...,0,ed17a935-0095-4b3b-99f6-9798c32d5b68

In [9]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.823523
1    0.176477
Name: Gold, dtype: float64

In [10]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_and_test_on_practice/train_with_causaly_imbalanced.csv', index=False)