In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_test_on_practice_v2/train.csv')
causaly_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')

In [3]:
causaly_df = pd.read_csv(causaly_all_data_path)
causaly_df.head()

                                            sentence  causal
0  Results indicated that boys with ADHD , relati...       1
1  Ticagrelor appears to provide higher value for...       0
2  Whatever the mechanism , active smoking is an ...       1
3  In this study , we examined whether use of an ...       0
4  Using causal inference testing , we searched c...       0

In [4]:
causaly_df.shape

(2000, 2)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,149.00013,International Monetary Systems Company Profile...,0,c3ac1fe6-03f3-4c3a-a629-fece251ba910
1,16.00004,"Investment Governance for Fiduciaries, our new...",0,21b03c65-a763-4530-93fe-274329159fe4
2,123.00020,"In other words, whatever emerges over that tim...",0,0a23192c-c361-48af-a32d-6451fc9a0cf9
3,37.00015,Beijing Meddling With a focus on divesting fr...,0,59d14846-7cab-4e56-9694-38d42b190239
4,26.00008,It would probably be a leader in cutting-edge ...,0,70a20d4c-d155-498b-a189-e1d5df3102f3

In [6]:
fincausal_task1_train_df.shape

(7721, 4)

In [7]:
causaly_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_df.sentence,
    'Gold': causaly_df.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_df))]
})
causaly_df.head()

,Index,Text,Gold,unique_id
0,None,"Results indicated that boys with ADHD , relati...",1,0713dd3c-1290-40c8-a945-0515a2adc177
1,None,Ticagrelor appears to provide higher value for...,0,1204495b-dafb-4bf5-9062-45d1e2c26ad0
2,None,"Whatever the mechanism , active smoking is an ...",1,37473d2c-b23d-429c-a729-cdfe004396ba
3,None,"In this study , we examined whether use of an ...",0,237ff62d-895b-4405-a25e-bd258bd08716
4,None,"Using causal inference testing , we searched c...",0,201b8f9f-bf04-4877-9c6b-e0f167898a3d

In [8]:
merged_df = pd.concat([fincausal_task1_train_df, causaly_df])
merged_df.shape

(9721, 4)

In [9]:
merged_df.head()

,Index,Text,Gold,unique_id
0,149,International Monetary Systems Company Profile...,0,c3ac1fe6-03f3-4c3a-a629-fece251ba910
1,16,"Investment Governance for Fiduciaries, our new...",0,21b03c65-a763-4530-93fe-274329159fe4
2,123,"In other words, whatever emerges over that tim...",0,0a23192c-c361-48af-a32d-6451fc9a0cf9
3,37.0001,Beijing Meddling With a focus on divesting fr...,0,59d14846-7cab-4e56-9694-38d42b190239
4,26.0001,It would probably be a leader in cutting-edge ...,0,70a20d4c-d155-498b-a189-e1d5df3102f3

In [10]:
merged_df.Gold.value_counts() / len(merged_df)

0    0.832836
1    0.167164
Name: Gold, dtype: float64

In [11]:
merged_df.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/train_on_trial_test_on_practice_v2/train_with_causaly_all.csv', index=False)