In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/iteration_4/train.csv')
ade_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/ade.csv')

In [3]:
ade_df = pd.read_csv(ade_all_data_path)
ade_df.head()

                                           sentences  causal
0  At 1 year of age cardiovascular and renal func...       0
1  Chlorambucil-induced chromosome damage to huma...       1
2  Gingival hemorrhage, myelodysplastic syndromes...       0
3  The development of safer and more effective me...       0
4  Molluscum contagiosum is a common viral skin i...       0

In [4]:
ade_df.shape

(20896, 2)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,268.00017,"In turn, the Liberal promise could benefit th...",0,5e9f149f-e1c3-43b8-a4f0-2614ca2bfd42
1,357.00082,From foundation modules that introduce asset ...,0,694a6824-613c-4978-9e17-a45b77e2b485
2,471.00003,The law firm Kessler Topaz Meltzer & Check LL...,0,661e6bf7-ffbf-4581-acff-8c246ecac51a
3,320.00001,News The UK Civil Aviation Authority has lau...,0,a6a80d24-dbc0-404d-9f71-e907524e88ec
4,521.00016,The proportion of middle-skill jobs for worke...,0,9657941b-aae0-4a9c-b1cd-8c7433f3b0bf

In [6]:
fincausal_task1_train_df.shape

(15576, 4)

In [7]:
# what's the distribution of label?
causal_distribution = fincausal_task1_train_df.Gold.value_counts() / len(fincausal_task1_train_df)
causal_distribution

0    0.927902
1    0.072098
Name: Gold, dtype: float64

In [8]:
# how many causal can I take from semeval?
ade_noncausal = ade_df.loc[ade_df.causal == 0]
ade_causal = ade_df.loc[ade_df.causal == 1]

ade_causal_resampled = ade_causal.sample(n=int((causal_distribution[1]*100*len(ade_noncausal))/(100-(causal_distribution[1]*100))))

ade_resampled = pd.concat([ade_noncausal, ade_causal_resampled])
ade_resampled.causal.value_counts() / len(ade_resampled)

0    0.927942
1    0.072058
Name: causal, dtype: float64

In [9]:
# combine both the datasets
ade_resampled_formatted_df = pd.DataFrame({
    'Index': None,
    'Text': ade_resampled.sentences,
    'Gold': ade_resampled.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(ade_resampled))]
})
ade_resampled_formatted_df.head()

,Index,Text,Gold,unique_id
0,None,At 1 year of age cardiovascular and renal func...,0,cc1713f0-c7c8-44fe-b2f9-9a1348a0c0a7
2,None,"Gingival hemorrhage, myelodysplastic syndromes...",0,56881ed0-dd56-4cb3-87ab-78a6cc101694
3,None,The development of safer and more effective me...,0,9241e158-f2f1-4f75-9fcf-9a11344ad1f3
4,None,Molluscum contagiosum is a common viral skin i...,0,2dc07f38-500a-4573-84e5-6ba43f6aa830
5,None,Diagnosis requires CT scan and direct aspirati...,0,832b7001-c1a6-4d55-8f81-b69796f50822

In [10]:
ade_resampled_formatted_df.Gold.value_counts() / len(ade_resampled_formatted_df)

0    0.927942
1    0.072058
Name: Gold, dtype: float64

In [11]:
fincausal_task1_train_combined_ade = pd.concat([fincausal_task1_train_df, ade_resampled_formatted_df])
fincausal_task1_train_combined_ade.shape

(33492, 4)

In [12]:
fincausal_task1_train_combined_ade.Gold.value_counts() / len(fincausal_task1_train_combined_ade)

0    0.927923
1    0.072077
Name: Gold, dtype: float64

In [13]:
fincausal_task1_train_combined_ade.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/iteration_4_with_ade/train_with_ade.csv', index=False)