In [1]:
import pandas as pd
from pathlib import Path
import uuid

In [2]:
fincausal_task1_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/task1/iteration_2/train.csv')
causaly_all_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/extra/causaly.csv')

In [3]:
causaly_df = pd.read_csv(causaly_all_data_path)
causaly_df.head()

                                            sentence  causal
0  Results indicated that boys with ADHD , relati...       1
1  Ticagrelor appears to provide higher value for...       0
2  Whatever the mechanism , active smoking is an ...       1
3  In this study , we examined whether use of an ...       0
4  Using causal inference testing , we searched c...       0

In [4]:
causaly_df.shape

(2000, 2)

In [5]:
fincausal_task1_train_df = pd.read_csv(fincausal_task1_train_path)
fincausal_task1_train_df.head()

,Index,Text,Gold,unique_id
0,81.00009,Look at which clients are delivering increasi...,0,849c40bc-8fce-433b-8dc8-6af727480679
1,357.00082,From foundation modules that introduce asset ...,0,694a6824-613c-4978-9e17-a45b77e2b485
2,471.00003,The law firm Kessler Topaz Meltzer & Check LL...,0,661e6bf7-ffbf-4581-acff-8c246ecac51a
3,166.00001,Upcoming events Learn about the requirements...,0,48a694c5-9372-48d2-b2cb-df9461c713fe
4,48.00012,"The Midwest, where Buffett is from, has a his...",0,a363e188-0393-433b-a86c-94d268eb473c

In [6]:
fincausal_task1_train_df.shape

(15575, 4)

In [7]:
# what's the distribution of label?
causal_distribution = fincausal_task1_train_df.Gold.value_counts() / len(fincausal_task1_train_df)
causal_distribution

0    0.927897
1    0.072103
Name: Gold, dtype: float64

In [8]:
# how many causal can I take from semeval?
causaly_noncausal = causaly_df.loc[causaly_df.causal == 0]
causaly_causal = causaly_df.loc[causaly_df.causal == 1]

causaly_causal_resampled = causaly_causal.sample(n=int((causal_distribution[1]*100*len(causaly_noncausal))/(100-(causal_distribution[1]*100))))

causaly_resampled = pd.concat([causaly_noncausal, causaly_causal_resampled])
causaly_resampled.causal.value_counts() / len(causaly_resampled)

0    0.928796
1    0.071204
Name: causal, dtype: float64

In [9]:
# combine both the datasets
causly_resampled_formatted_df = pd.DataFrame({
    'Index': None,
    'Text': causaly_resampled.sentence,
    'Gold': causaly_resampled.causal,
    'unique_id': [str(uuid.uuid4()) for _ in range(len(causaly_resampled))]
})
causly_resampled_formatted_df.head()

,Index,Text,Gold,unique_id
1,None,Ticagrelor appears to provide higher value for...,0,4c793b8c-9eb9-49e0-8d34-1e6b7542192b
3,None,"In this study , we examined whether use of an ...",0,8f2750f8-10ee-4f47-8fd0-3b98507e674f
4,None,"Using causal inference testing , we searched c...",0,c4014442-ce0b-4044-a57a-687613f96a8a
6,None,Data were collected on the incidence of POAF l...,0,90b9c677-d2fd-4dd0-8345-a1434ab37598
8,None,"In the current study , women were losing BMC ,...",0,8869d7f6-9c18-4c61-9d09-519aadf14dc0

In [10]:
causly_resampled_formatted_df.Gold.value_counts() / len(causly_resampled_formatted_df)

0    0.928796
1    0.071204
Name: Gold, dtype: float64

In [11]:
fincausal_task1_train_combined_causaly = pd.concat([fincausal_task1_train_df, causly_resampled_formatted_df])
fincausal_task1_train_combined_causaly.shape

(16530, 4)

In [12]:
fincausal_task1_train_combined_causaly.Gold.value_counts() / len(fincausal_task1_train_combined_causaly)

0    0.927949
1    0.072051
Name: Gold, dtype: float64

In [13]:
fincausal_task1_train_combined_causaly.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/iteration_2/train_with_causaly.csv', index=False)