In [1]:
import pandas as pd
from pathlib import Path

In [4]:
predictions_filepath = Path('//media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/51_1/output/best_model/inference/predictions.csv')
# predictions_9_iteration_1_path = Path('/media/sarthak/HDD/data_science/fnp_resources/fincausal_t1_models/9/iteration_1/output/best_model/inference/predictions.csv')

In [5]:
predictions = pd.read_csv(predictions_filepath)
# predictions_9_iteration_1 = pd.read_csv(predictions_9_iteration_1_path)

In [6]:
predictions.head()

,Index,Text,Gold,Prediction,unique_id
0,352.00039,One bit of advice Orton had for young finance ...,0,0,f56182ea-5095-4934-889c-f18c1a26134c
1,8.00001,President Muhammadu Buhari has disclosed that ...,1,1,06cc12f1-1df2-43ef-898a-85ebb29bdede
2,53.00010,Advent of compressed exhaust systems based on ...,0,0,a2705c77-271b-4870-b948-8b688657f39c
3,533.00022,Catholic leaders have also suggested the UK go...,0,0,7966c427-9695-4e2f-a098-a5d385d6e0c4
4,316.00040,(NasdaqGS:CME) is 66. A company with a value o...,0,0,14e3e218-9f6b-4949-96c7-62ca68598d55

In [9]:
# locate errors
errors = predictions.loc[predictions.Gold != predictions.Prediction]
errors.head()

,Index,Text,Gold,Prediction,unique_id
17,544.00031,This is:- 1. IRP and liquidation costs 2. Work...,0,1,203c03f1-1db1-4671-8b81-f94442679134
47,403.00009,The San Antonio Economic Development Foundatio...,0,1,16516ba0-710a-4cf1-b5d5-3a24f9593962
59,323.00098,High street stalwart Next reported a rise in p...,0,1,b649f39f-c262-4c5e-9a71-562289589bf2
103,21.00003,More than half of the property is rented on th...,0,1,cd20eb77-16f7-4868-a098-925c6bac5340
108,171.00035,"For those retiring early, at age 62, the maxim...",1,0,acde9d96-2fb4-4bf3-97c9-38dbd0c804f3

In [26]:
random_idx = 15

In [28]:
errors_8.iloc[random_idx].Text, errors_8.iloc[random_idx].Gold, errors_8.iloc[random_idx].Prediction, errors_8.iloc[random_idx].Index

(' Page 211 of the report states: The Dutch tax authority has issued a number of assessments on various issues across the years 2003 to 2016 in relation to various intra-group transactions. The assessments amount to an aggregate net liability across these periods of Â£902m covering tax, interest and penalties.',
 1,
 0,
 52.00011)