In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import uuid
import os
import re

In [2]:
fincausal_task1_trial_train_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/YseopLab-develop/FNP_2020_FinCausal/baseline/task1/data/train.tsv')
fincausal_task1_trial_dev_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/YseopLab-develop/FNP_2020_FinCausal/baseline/task1/data/dev.tsv')
fincausal_task1_trial_test_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/YseopLab-develop/FNP_2020_FinCausal/baseline/task1/data/test.tsv')

In [3]:
fincausal_task1_trial_train = pd.read_csv(fincausal_task1_trial_train_path, sep='\t', header=None)
fincausal_task1_trial_dev = pd.read_csv(fincausal_task1_trial_dev_path, sep='\t', header=None)
fincausal_task1_trial_test = pd.read_csv(fincausal_task1_trial_test_path, sep='\t', header=None)

In [4]:
fincausal_task1_trial_train.columns = ['Index', 'Gold', 'A', 'Text']
fincausal_task1_trial_dev.columns = ['Index', 'Gold', 'A', 'Text']
fincausal_task1_trial_test.columns = ['Index', 'Text', 'Gold']

In [5]:
fincausal_task1_trial_train.head()

   Index  Gold  A                                               Text
0   3135     0  a  We have the highest child poverty rate of almo...
1   4340     0  a  Price is nearly everything - and nearly every ...
2   1312     0  a  We do not write articles to promote products. ...
3   4936     0  a  They were now theoretically worth north of a $...
4   1093     0  a  The solution  Susan explains she wishes to inv...

In [6]:
fincausal_task1_trial_dev.head()

   Index  Gold  A                                               Text
0   2674     0  a  An image of high-grade visible gold mineraliza...
1   1253     0  a                                    Chelsea Overton
2   5547     0  a  Since then, the company has expanded to 528 lo...
3   5286     0  a  Those individuals that already have an account...
4   1385     0  a  The Norwegian government halted the transfer o...

In [7]:
fincausal_task1_trial_test.head()

   Index                                               Text  Gold
0      0  On average, sell-side analysts forecast that C...     0
1      1  If an individual has years of low earnings or ...     0
2      2                   That means sticking to a budget.     0
3      3  In terms of vistas and backdrops, within a thr...     0
4      4  The S&P/TSX Venture Composite Index is a broad...     0

There is a new column with 'a' in train and dev, what are the unique values?

In [8]:
fincausal_task1_trial_train.A.value_counts(), fincausal_task1_trial_dev.A.value_counts()

(a    4227
 Name: A, dtype: int64,
 a    1812
 Name: A, dtype: int64)

Useless column, drop it

In [9]:
fincausal_task1_trial_train.drop('A', inplace=True, axis=1)
fincausal_task1_trial_dev.drop('A', inplace=True, axis=1)

In [10]:
# check if dropped
fincausal_task1_trial_train.head()

   Index  Gold                                               Text
0   3135     0  We have the highest child poverty rate of almo...
1   4340     0  Price is nearly everything - and nearly every ...
2   1312     0  We do not write articles to promote products. ...
3   4936     0  They were now theoretically worth north of a $...
4   1093     0  The solution  Susan explains she wishes to inv...

In [11]:
# NAs train
fincausal_task1_trial_train.isna().sum()

Index    0
Gold     0
Text     0
dtype: int64

In [12]:
# NAs dev
fincausal_task1_trial_dev.isna().sum()

Index    0
Gold     0
Text     1
dtype: int64

In [13]:
# example of NA in dex
fincausal_task1_trial_dev.loc[fincausal_task1_trial_dev.Text.isna()]

     Index  Gold Text
680   4709     0  NaN

In [14]:
# remove NA
fincausal_task1_trial_dev = fincausal_task1_trial_dev.loc[~fincausal_task1_trial_dev.Text.isna()]
fincausal_task1_trial_dev.shape

(1811, 3)

In [15]:
# NAs dev
fincausal_task1_trial_test.isna().sum()

Index    0
Text     0
Gold     0
dtype: int64

There is 1 NaN in dev set

In [16]:
# empty sentences train?
empty_sections_train = fincausal_task1_trial_train.loc[(fincausal_task1_trial_train.Text == " ") | (fincausal_task1_trial_train.Text == "")]
print('how many? {}'.format(len(empty_sections_train)))
print('label distribution for them: {}'.format(empty_sections_train.Gold.value_counts()))

how many? 0
label distribution for them: Series([], Name: Gold, dtype: int64)

In [17]:
# empty sentences dev?
empty_sections_dev = fincausal_task1_trial_dev.loc[(fincausal_task1_trial_dev.Text == " ") | (fincausal_task1_trial_dev.Text == "")]
print('how many? {}'.format(len(empty_sections_dev)))
print('label distribution for them: {}'.format(empty_sections_dev.Gold.value_counts()))

how many? 0
label distribution for them: Series([], Name: Gold, dtype: int64)

In [18]:
# empty sentences test?
empty_sections_test = fincausal_task1_trial_test.loc[(fincausal_task1_trial_test.Text == " ") | (fincausal_task1_trial_test.Text == "")]
print('how many? {}'.format(len(empty_sections_test)))
print('label distribution for them: {}'.format(empty_sections_test.Gold.value_counts()))

how many? 0
label distribution for them: Series([], Name: Gold, dtype: int64)

There are no empty sentences

In [19]:
# label distributions
fincausal_task1_trial_train_label_distribution = fincausal_task1_trial_train.Gold.value_counts()
fincausal_task1_trial_dev_label_distribution = fincausal_task1_trial_dev.Gold.value_counts()
fincausal_task1_trial_test_label_distribution = fincausal_task1_trial_test.Gold.value_counts()

print('label distribution of train: {}'.format(fincausal_task1_trial_train_label_distribution/len(fincausal_task1_trial_train)))
print('label distribution of dev: {}'.format(fincausal_task1_trial_dev_label_distribution/len(fincausal_task1_trial_dev)))
print('label distribution of test: {}'.format(fincausal_task1_trial_test_label_distribution/len(fincausal_task1_trial_test)))

label distribution of train: 0    0.926425
1    0.073575
Name: Gold, dtype: float64
label distribution of dev: 0    0.942021
1    0.057979
Name: Gold, dtype: float64
label distribution of test: 0    0.940518
1    0.059482
Name: Gold, dtype: float64

In [20]:
# do they have any EXACTLY same texts?
len(list(set(fincausal_task1_trial_train.Text).intersection(set(fincausal_task1_trial_dev.Text))))

32

There are 32exactly same texts between practice and trial, and we keep them

In [21]:
# are the labels for the equal texts same?
merged_inner_train_dev = pd.merge(left=fincausal_task1_trial_train, 
                        right=fincausal_task1_trial_dev, 
                        left_on='Text', 
                        right_on='Text',
                        suffixes=('_train', '_dev'))
merged_inner_train_dev.head()
print('are all same texts having same labels?: {}'.format(merged_inner_train_dev.Gold_train.equals(merged_inner_train_dev.Gold_dev)))
      # what rows are there which have different labels for same text?
merged_inner_train_dev.loc[merged_inner_train_dev.Gold_train != merged_inner_train_dev.Gold_dev][['Index_train', 'Gold_train', 'Text', 'Index_dev', 'Gold_dev']]

are all same texts having same labels?: False

,Index_train,Gold_train,Text,Index_dev,Gold_dev
12,4898,0,The risk of missing its fiscal deficit target ...,4395,1
38,1131,0,"Electric vehicle manufacturers, components for...",1988,1

In [22]:
# are the labels for the equal texts same?
merged_inner_train_test = pd.merge(left=fincausal_task1_trial_train, 
                        right=fincausal_task1_trial_test, 
                        left_on='Text', 
                        right_on='Text',
                        suffixes=('_train', '_test'))
merged_inner_train_test.head()
print('are all same texts having same labels?: {}'.format(merged_inner_train_test.Gold_train.equals(merged_inner_train_test.Gold_test)))
      # what rows are there which have different labels for same text?
merged_inner_train_test.loc[merged_inner_train_test.Gold_train != merged_inner_train_test.Gold_test]

are all same texts having same labels?: True

Empty DataFrame
Columns: [Index_train, Gold_train, Text, Index_test, Gold_test]
Index: []

In [23]:
# are the labels for the equal texts same?
merged_inner_dev_test = pd.merge(left=fincausal_task1_trial_dev, 
                        right=fincausal_task1_trial_test, 
                        left_on='Text', 
                        right_on='Text',
                        suffixes=('_dev', '_test'))
merged_inner_dev_test.head()
print('are all same texts having same labels?: {}'.format(merged_inner_dev_test.Gold_dev.equals(merged_inner_dev_test.Gold_test)))
      # what rows are there which have different labels for same text?
merged_inner_dev_test.loc[merged_inner_dev_test.Gold_dev != merged_inner_dev_test.Gold_test]

are all same texts having same labels?: True

Empty DataFrame
Columns: [Index_dev, Gold_dev, Text, Index_test, Gold_test]
Index: []

In [24]:
# add unique ID columns
fincausal_task1_trial_train['unique_id'] = [str(uuid.uuid4()) for _ in range(len(fincausal_task1_trial_train))]
fincausal_task1_trial_dev['unique_id'] = [str(uuid.uuid4()) for _ in range(len(fincausal_task1_trial_dev))]
fincausal_task1_trial_test['unique_id'] = [str(uuid.uuid4()) for _ in range(len(fincausal_task1_trial_test))]

In [25]:
# write to csv
fincausal_task1_trial_train.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/train.csv', index=False)
fincausal_task1_trial_dev.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/dev.csv', index=False)
fincausal_task1_trial_test.to_csv('/media/sarthak/HDD/data_science/fnp_resources/data/task1/trial/test.csv', index=False)

Above are the 2 rows which have same texts but different golds, we must remove them.

# Is the new data same as the previous trial data?

In [26]:
fincausal_task1_trial_data_path = Path('/media/sarthak/HDD/data_science/fnp_resources/data/TRIAL/fnp2020-fincausal-task1.csv')
fincausal_task1_trial_data = pd.read_csv(fincausal_task1_trial_data_path, sep='; ')
fincausal_task1_trial_data.head()

/media/sarthak/HDD/Anaconda/envs/fnp/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

     Index                                               Text  Gold
0  1.00001  Third Democratic presidential debate  Septembe...     0
1  1.00002  On the policy front, Bernie Sanders claimed hi...     0
2  1.00003  Joe Biden misrepresented recent history when h...     0
3  1.00004  Here's a look at some of the assertions in the...     0
4  1.00005  It killed 22 people, and injured many more, we...     0

In [27]:
fincausal_task1_new_data_combined = pd.concat([fincausal_task1_trial_train, fincausal_task1_trial_dev, fincausal_task1_trial_test])
fincausal_task1_new_data_combined.head()

,Index,Gold,Text,unique_id
0,3135,0,We have the highest child poverty rate of almo...,654a5d70-ad24-42b4-8794-1cc46c9d5010
1,4340,0,Price is nearly everything - and nearly every ...,bd49babc-c7e1-49ad-9524-88b2a2a23258
2,1312,0,We do not write articles to promote products. ...,686a18a6-30a7-4fbb-8c90-9d057ccb7631
3,4936,0,They were now theoretically worth north of a $...,cbfd1e29-38dd-4574-9182-c9719b620730
4,1093,0,The solution Susan explains she wishes to inv...,4c69fe8b-7c3e-4454-ae9f-c9fff78573df

In [28]:
# check shapes
fincausal_task1_trial_data.shape, fincausal_task1_new_data_combined.shape

((8628, 3), (8627, 4))

In [29]:
# label distribution
fincausal_task1_trial_data.Gold.value_counts() / len(fincausal_task1_trial_data), fincausal_task1_new_data_combined.Gold.value_counts() / len(fincausal_task1_new_data_combined)

(0    0.933936
 1    0.066064
 Name: Gold, dtype: float64,
 0    0.933928
 1    0.066072
 Name: Gold, dtype: float64)

In [30]:
# check if labels are same?
all_data_combined = pd.merge(left=fincausal_task1_trial_data.loc[~fincausal_task1_trial_data.Text.isna()], 
                        right=fincausal_task1_new_data_combined.loc[~fincausal_task1_new_data_combined.Text.isna()], 
                        left_on='Text', 
                        right_on='Text',
                        how='left',
                        suffixes=('_old', '_new'))
print(all_data_combined.shape, fincausal_task1_trial_data.shape, fincausal_task1_new_data_combined.shape)
# assert all_data_combined.shape[0] == fincausal_task1_trial_data.shape[0]
# assert fincausal_task1_trial_data.shape[0] == fincausal_task1_new_data_combined.shape[0]

(8987, 6) (8628, 3) (8627, 4)

# Numerics?

In [31]:
fincausal_task1_trial_train['contains_numeric'] = fincausal_task1_trial_train['Text'].apply(lambda text: any(char.isdigit() for char in text))

In [32]:
fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]['contains_numeric'].value_counts()

True     309
False      2
Name: contains_numeric, dtype: int64

In [33]:
fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0]['contains_numeric'].value_counts()

False    2337
True     1579
Name: contains_numeric, dtype: int64

# percentages

In [34]:
fincausal_task1_trial_train['contains_percent'] = fincausal_task1_trial_train['Text'].apply(lambda text: '%' in text)
print(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]['contains_percent'].value_counts())
fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0]['contains_percent'].value_counts()

False    168
True     143
Name: contains_percent, dtype: int64

False    3644
True      272
Name: contains_percent, dtype: int64

# comma_with_ing

In [35]:
fincausal_task1_trial_train['contains_comma_with_ing'] = fincausal_task1_trial_train['Text'].apply(lambda text: True if len(re.findall(""",\s([a-z]*?ing)""", text))>0 else False)
print(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]['contains_comma_with_ing'].value_counts() / len(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]))
fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0]['contains_comma_with_ing'].value_counts() / len(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0])

False    0.742765
True     0.257235
Name: contains_comma_with_ing, dtype: float64

False    0.911389
True     0.088611
Name: contains_comma_with_ing, dtype: float64

In [36]:
texts = fincausal_task1_trial_train.loc[(fincausal_task1_trial_train['contains_comma_with_ing'] == True) & (fincausal_task1_trial_train['Gold'] == 0)]
texts

,Index,Gold,Text,unique_id,contains_numeric,contains_percent,contains_comma_with_ing
26,4202,0,"Given Cloudera's higher possible upside, resea...",f50e6796-2cae-4270-a13c-3df711c2fc7f,True,True,True
78,5424,0,(Melinda Sue Gordon/Paramount Pictures/AP Phot...,c816ac3f-9680-44e5-8f37-615de2881981,True,False,True
84,3799,0,This is an excellent example of an activist gi...,294c684e-f31e-4ab3-ad8c-e5354e145e30,True,False,True
85,3355,0,The C-Score is calculated by a variety of item...,2f1dd19b-5cbf-465a-8c77-3fff1a3e46bb,True,False,True
109,1863,0,Fannie and Freddie are central players in the ...,45d97cc9-2d30-46cf-8a47-639c72a625b8,False,False,True
...,...,...,...,...,...,...,...
4180,3748,0,"In that scenario, Bitcoin purchased by asset m...",85315b74-5220-44ea-a5a0-893c463ef9a3,False,False,True
4187,3665,0,"Figure 8: Northwest drill section 22950, showi...",1de083d9-6548-46dc-b277-9cfa492bdc4f,True,False,True
4196,5337,0,"Unite, the union, called the Ballymena-based c...",9f6190d9-37dc-41a6-aa85-bd0b242126ed,True,False,True
4197,4577,0,We triumphed on a wave of hope she said later ...,975aa859-1453-41f5-b008-fbdb81d5ac2d,False,False,True
4221,4103,0,New high-grade gold intercepts include: 101.70...,65280e7c-9eef-4b2c-b046-c0acd3725780,True,False,True

In [37]:
texts.iloc[0]['Text']

"Given Cloudera's higher possible upside, research analysts plainly believe Cloudera is more favorable than Shopify. Risk and Volatility  Cloudera has a beta of 0.77, suggesting that its share price is 23% less volatile than the S&P 500. Comparatively, Shopify has a beta of 1.23, suggesting that its share price is 23% more volatile than the S&P 500."

In [38]:
texts.iloc[1]['Text']

'(Melinda Sue Gordon/Paramount Pictures/AP Photos)  Productions in Alberta also generated significant levels of employment, creating 5,350 direct and spinoff full-time jobs in 2017.'

In [39]:
texts.iloc[2]['Text']

"This is an excellent example of an activist giving a company time to execute its plan and is engaging only because management is unable to do so by itself. Bloomin' trails its peers in Ebitda margin, Ebit margin, and valuation multiple, resulting in poor stock performance. It has a history of poor capital allocation, repurchasing $35 million of stock in the fourth quarter of 2016 at an average price of $19.27, while its CEO exercised options to sell 250,000 shares at $17.15 per share."

In [40]:
texts.iloc[3]['Text']

'The C-Score is calculated by a variety of items, including a growing difference in net income verse cash flow, increasing days outstanding, growing days sales of inventory, increasing assets to sales, declines in depreciation, and high total asset growth. The C-Score of Glacier Media Inc. (TSX:GVC) is 2.'

In [41]:
texts.iloc[4]['Text']

'Fannie and Freddie are central players in the housing market, buying about half of all U.S. mortgages from lenders and packaging them for issuance as securities.'

In [42]:
texts.iloc[5]['Text']

'However, if the activity involves breeding, training, showing or racing horses, then the period is two out of seven consecutive years. Making the proper determination is important because of the differences in tax treatment for hobbies versus trades or businesses.'

In [43]:
texts.iloc[6]['Text']

'German discounter Aldi plans to open a new store in the UK every week on average for the next two years, investing Ã‚Â£1bn in the process. UK sales rose 11% in 2018 to Ã‚Â£11.3bn, but profits were dented by its investment in expansion in London and pricing. Ocado Retail, a joint venture between Ocado and Marks & Spencer, released a trading statement.'

In [44]:
texts.iloc[7]['Text']

"Start with longer forms of video as if you're talking to a friend. Then break down the long form video into other formats like an audio file for a podcast, a transcription for a blog, a pdf for a download, smaller nuggets of video for social video to create more volume and awareness of your brand. The way to start is to write down topics by either knowing your audience well enough, asking your audience or looking in groups for questions and answering them yourself."

In [45]:
# find words with -ing where Gold == 1
fincausal_task1_trial_train['contains_comma_with_ing_words'] = fincausal_task1_trial_train['Text'].apply(lambda text: re.findall(""",\s([a-z]*?ing)""", text))
words_where_ing_and_notgold = fincausal_task1_trial_train.loc[(fincausal_task1_trial_train['contains_comma_with_ing'] == True) & (fincausal_task1_trial_train['Gold'] == 0), 'contains_comma_with_ing_words']
words_where_ing_and_gold = fincausal_task1_trial_train.loc[(fincausal_task1_trial_train['contains_comma_with_ing'] == True) & (fincausal_task1_trial_train['Gold'] == 1), 'contains_comma_with_ing_words']

In [46]:
set(words_where_ing_and_notgold.explode().values)

{'according',
 'acting',
 'adding',
 'addressing',
 'arguing',
 'asking',
 'assuming',
 'attracting',
 'avoiding',
 'banking',
 'banning',
 'beating',
 'beginning',
 'being',
 'bordering',
 'borrowing',
 'building',
 'buying',
 'catering',
 'chasing',
 'circling',
 'citing',
 'coming',
 'conting',
 'continuing',
 'contracting',
 'coupling',
 'creating',
 'declaring',
 'decreasing',
 'demanding',
 'demonstrating',
 'deploying',
 'describing',
 'detailing',
 'devolving',
 'dividing',
 'drawing',
 'during',
 'dwindling',
 'earning',
 'emerging',
 'emphasizing',
 'enabling',
 'encompassing',
 'encouraging',
 'engineering',
 'ensuring',
 'escalating',
 'establishing',
 'everything',
 'exceeding',
 'facilitating',
 'facing',
 'falling',
 'figuring',
 'finding',
 'flaming',
 'gaining',
 'gauging',
 'generating',
 'getting',
 'giving',
 'growing',
 'handing',
 'having',
 'highlighting',
 'housing',
 'identifying',
 'implying',
 'improving',
 'including',
 'increasing',
 'indicating',
 'initiating',
 'insisting',
 'investing',
 'invoking',
 'involving',
 'kicking',
 'knowing',
 'leading',
 'leasing',
 'leaving',
 'lending',
 'lifting',
 'lighting',
 'linking',
 'looking',
 'making',
 'managing',
 'maneuvering',
 'manufacturing',
 'marking',
 'meaning',
 'mining',
 'missing',
 'mitigating',
 'moving',
 'noting',
 'offering',
 'offsetting',
 'opening',
 'operating',
 'owing',
 'pausing',
 'paying',
 'permitting',
 'plumbing',
 'pointing',
 'posting',
 'presenting',
 'prioritizing',
 'processing',
 'provoking',
 'punishing',
 'putting',
 'recognizing',
 'reducing',
 'referring',
 'reflecting',
 'reiterating',
 'relocating',
 'reporting',
 'representing',
 'repurchasing',
 'requiring',
 'responding',
 'restructuring',
 'resulting',
 'retiring',
 'retraining',
 'risking',
 'sacrificing',
 'saying',
 'seeing',
 'selling',
 'sending',
 'serving',
 'setting',
 'sharing',
 'shopping',
 'shortening',
 'showing',
 'signaling',
 'sing',
 'sizing',
 'slapping',
 'soaring',
 'something',
 'sparking',
 'specializing',
 'starting',
 'stimulating',
 'studying',
 'suggesting',
 'surpassing',
 'surrounding',
 'tackling',
 'taking',
 'tanning',
 'tapping',
 'tearing',
 'testing',
 'thing',
 'ticking',
 'tracking',
 'trading',
 'training',
 'translating',
 'triggering',
 'trying',
 'underlying',
 'underperforming',
 'using',
 'warning',
 'withdrawing',
 'working'}

In [47]:
set(words_where_ing_and_gold.explode().values)

{'according',
 'aiming',
 'beating',
 'becoming',
 'boosting',
 'buying',
 'citing',
 'clothing',
 'completing',
 'converting',
 'during',
 'edging',
 'enabling',
 'equating',
 'giving',
 'having',
 'hitting',
 'including',
 'increasing',
 'indicating',
 'lasting',
 'leaving',
 'lowering',
 'making',
 'meeting',
 'missing',
 'noting',
 'paying',
 'prompting',
 'raising',
 'reaching',
 'reflecting',
 'resulting',
 'rising',
 'slowing',
 'suggesting',
 'taking',
 'topping',
 'totaling',
 'valuing',
 'working'}

In [48]:
possible_verbs = set(words_where_ing_and_gold.explode().values) - set(words_where_ing_and_notgold.explode().values).intersection(set(words_where_ing_and_gold.explode().values))

In [49]:
possible_strings_to_check = [', {}'.format(verb) for verb in possible_verbs]

In [50]:
possible_strings_to_check

[', aiming',
 ', slowing',
 ', meeting',
 ', hitting',
 ', reaching',
 ', valuing',
 ', completing',
 ', raising',
 ', rising',
 ', becoming',
 ', prompting',
 ', topping',
 ', equating',
 ', lasting',
 ', clothing',
 ', totaling',
 ', lowering',
 ', edging',
 ', converting',
 ', boosting']

In [51]:
fincausal_task1_trial_train['contains_specific_ings_with_comma'] = fincausal_task1_trial_train['Text'].apply(lambda text: any(substring in text for substring in possible_strings_to_check))
print(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]['contains_specific_ings_with_comma'].value_counts() / len(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]))
fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0]['contains_specific_ings_with_comma'].value_counts() / len(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0])

False    0.877814
True     0.122186
Name: contains_specific_ings_with_comma, dtype: float64

False    1.0
Name: contains_specific_ings_with_comma, dtype: float64

# Word Lists

In [52]:
word_list_path = '/media/sarthak/HDD/data_science/fnp_resources/data/LoughranMcDonald_MasterDictionary_2018.csv'
word_list = pd.read_csv(word_list_path)
print('shape of data: {}'.format(word_list.shape))
word_list.head()

shape of data: (86486, 19)

,Word,Sequence Number,Word Count,Word Proportion,Average Proportion,Std Dev,Doc Count,Negative,Positive,Uncertainty,Litigious,Constraining,Superfluous,Interesting,Modal,Irr_Verb,Harvard_IV,Syllables,Source
0,AARDVARK,1,277,1.480000e-08,1.240000e-08,3.560000e-06,84,0,0,0,0,0,0,0,0,0,0,2,12of12inf
1,AARDVARKS,2,3,1.600000e-10,9.730000e-12,9.860000e-09,1,0,0,0,0,0,0,0,0,0,0,2,12of12inf
2,ABACI,3,8,4.280000e-10,1.390000e-10,6.230000e-08,7,0,0,0,0,0,0,0,0,0,0,3,12of12inf
3,ABACK,4,12,6.410000e-10,3.160000e-10,9.380000e-08,12,0,0,0,0,0,0,0,0,0,0,2,12of12inf
4,ABACUS,5,7250,3.870000e-07,3.680000e-07,3.370000e-05,914,0,0,0,0,0,0,0,0,0,0,3,12of12inf

In [96]:
# uncertain words
uncertain_words = [word.lower() for word in word_list.loc[word_list.Uncertainty != 0].Word.tolist()]

In [97]:
fincausal_task1_trial_train['contains_uncertain_words'] = fincausal_task1_trial_train['Text'].apply(lambda text: any(substring in text.lower() for substring in uncertain_words))
print(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]['contains_uncertain_words'].value_counts() / len(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 1]))
fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0]['contains_uncertain_words'].value_counts() / len(fincausal_task1_trial_train.loc[fincausal_task1_trial_train['Gold'] == 0])

False    0.787781
True     0.212219
Name: contains_uncertain_words, dtype: float64

False    0.811542
True     0.188458
Name: contains_uncertain_words, dtype: float64